.cardPreview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cardInfo__modal {
  display: flex;
  flex-direction: column;
  gap: 30px;
	padding: 30px;
	position: relative;
  width: 600px;
  height: 800px;
  background-color: rgba(27, 27, 37);
  border-radius: 15px;
}

.cardPreview__close{
	background-color: transparent;
	position: absolute;
	top: 2%;
	right: 3%;
}
.cardinfo__box {
  
	position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  
}
.cardinfo_box_title p {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.cardinfo_box_task_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardinfo_box_task_checkbox {
  display: flex;
  gap: 10px;
}

.cardinfo_box_task_checkbox input,
.cardinfo_box_task_checkbox svg {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.cardinfo_box_task_checkbox p {
  flex: 1;
  line-height: 18px;
}

.cardinfo_box_task_checkbox .completed {
  text-decoration-line: line-through;
}

.cardinfo_box input[type="date"] {
  width: fit-content;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 10px;
}
